body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  font-family: helvetica, arial, sans-serif;
  color: #222;
}

h1 {
  font-style: italic;
  margin-bottom: 0rem;
  margin-top: 0rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
  margin-bottom: 1rem;
  margin-top: 2rem;
}


.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  margin-top: 2rem;
}

img {
   height: 10rem;
   width: 10rem;
   object-fit: cover;
   display: block; /* removes small margin below image*/
}

h3 {
  margin-top: 10rem;
}

p {
  margin-bottom: 0px;
  text-align: center;
}

